.crossword{
    position: relative;
    height: 550px;
    width: 550px;
    aspect-ratio: 1 / 1;
    background: black;    
    box-sizing: border-box;
    margin: 10px;
}

@media (max-width: 764px) {
    .crossword {
        min-height: 350px;
        min-width: 350px;
        max-width: 350px;
        max-height: 350px;
        margin: auto;
    }
    h2 {
        font-size: 20px;
        margin: 5px;
    }
}

.hint-container{
    flex-direction: column;
    padding: 0 10px;
    flex: 1;
    
}

@media (max-width: 764px) {
    .hint-container {
        padding: 0 2px;
    }    
}

.hints{
    overflow-y: scroll;    
    height: 88%;
}

.flex-container-big {
    position: absolute;
    display: flex;
    width: fit-content;
    flex-direction: column;
    max-height: 90vh;
    box-sizing: border-box;
    right: 0;
    left: 0;
    bottom: 0;
    top: 10vh;
    
}   

.clues {
    display: flex;
    position: relative;
    flex:1;
}

@media (max-width: 764px) {
    .clues {
        height: calc(100% - 350px);
    }
}

@media (min-width: 764px) {
    .flex-container-big {
        flex-direction: row;
    }  
}

.clue-hint-num {
    padding-left: 10px;
    padding-right: 20px;
    vertical-align: top;
}

@media (max-width: 764px) {
    .clue-hint-num {
        padding-left: 0px;
        padding-right: 5px;
    }  
}

.clue-hint {
    padding-bottom: 10px;
}

.cell {
    box-sizing: border-box;
    background: white;
    border: 1px solid black;
    display: flex;
    /* padding: 1px; */

}

.cell-num {
    font-size: 75%;
    letter-spacing: -.02rem;
    width: 0px;
    /* transform: translate(-4px, -4px); */
    /* right: -15px; */
}

.cell-text {
    margin: auto;
    font-size: 150%;
    font-family: monospace;
}

#keyboard {
    position: relative;
    height: 150px;
    z-index: 1;
}

.keyboardRow {
    display: flex;
    align-items: space-between;
    height: 33%;
}
.keyboardKey {
    flex-grow: 1;
    margin: 2px 2px;
    font-size: x-large;
}