.crossword{
    position: relative;
    height: 450px;
    width: 450px;
    /* display: flex; */
    aspect-ratio: 1 / 1;
    background: black;
    padding: 10px;
}

@media (max-width: 764px) {
    .crossword {
        height: 350px;
        width: 350px;
        margin: auto;
    }
    h2 {
        font-size: 20px;
        margin: 5px;
    }
}

.hint-container{
    overflow-y: scroll;
    height: calc(80vh - 350px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 10px;
    flex: 1;
}

@media (max-width: 764px) {
    .hint-container {
        flex-grow: 1;
    }    
}

@media (min-width: 764px) {
    .hint-container {
        height: 450px;
    }    
}


.hints{
    overflow-y: scroll;
}

.flex-container-big {
    position: relative;
    display: flex;
    width: fit-content;
    flex-direction: column;
}   

.clues {
    display: flex;
}  

@media (min-width: 764px) {
    .flex-container-big {
        display: flex;
        flex-direction: row;
    }  
}

.clue-hint-num {
    padding-left: 10px;
    padding-right: 20px;
    vertical-align: top;
}

.clue-hint {
    padding-bottom: 10px;
}

.cell {
    box-sizing: border-box;
    background: white;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center; 
    display: flex;
    font-size: 150%;
    font-family: monospace;
}

#keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    /* background-color: black; */
}

.keyboardRow {
    display: flex;
    align-items: space-between;
    height: 33%;
}
.keyboardKey {
    flex-grow: 1;
    margin: 2px 2px;
    font-size: x-large;
    /* display: flex; */
}