<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Example{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script> 
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <nav>
    <h1>{% block page_name %}Crossword{% endblock %}</h1>
    <div>
      <h5>Navigation</h5>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
    <main id="page-content">
      {% block content %}{% endblock %}
    </main>
</body>
</html>
