<div class="mx-10">
    <div class="mt-4 mb-9">
        {% if logged_in %}
        <p>{{ data }}</p>
        <button class="primary-button" hx-get='/log-out' hx-swap="innerHTML" hx-target="#page-content">Log out</button>
        {% else %}
        <button class="primary-button" id="showSignUpDialog">Sign Up</button>
        <button class="primary-button" id="showLogInDialog">Log in</button>
        {% endif %}
    </div>
    <table class="mx-auto">
        {% for puzzle in puzzles%}
        <tr>
            <td class="py-3 pr-8">{{puzzle.name}}</td>
            <td><a class="primary-button" href="/puzzle/{{puzzle.id}}">Join</a></td>
        </tr>
        {% endfor %}
      </table>

    {# <h2>Test area</h2>
    <a href="/client-test">Client test</a> #}
    <dialog class="relative rounded" id="signUpDialog">
        <button class="absolute end-0 m-2 box-border rounded-xl bg-red-300 font-sm flex items-center justify-center text-white hover:shadow-lg h-4 w-4
        ease-in duration-100" id="closeSignUpDialog"></button>
        <form class="p-3 flex flex-col space-y-2" id="signUp" hx-post='/sign-up' hx-swap="innerHTML"
            hx-target="#page-content">
            <label for="usernameSignUp">Choose username</label>
            <input class="custom-input" type="text" id="usernameSignUp" name="username" />
            <label for="passwordSignUp">Choose password</label>
            <input class="custom-input" type="password" id="passwordSignUp" name="password" required minlength="8" />
            <label for="repeatPassword">Repeat password</label>
            <input class="custom-input" type="password" id="repeatPassword" name="repeatPassword" required
                minlength="8" />
            <input class="primary-button" type="submit">
        </form>
    </dialog>

    <dialog class="relative rounded" id="logInDialog">
        <div hx-ext="response-targets">
            <button class="absolute end-0 m-2 box-border rounded-xl bg-red-300 font-sm flex items-center justify-center text-white hover:shadow-lg h-4 w-4 ease-in duration-100" id="closeLogInDialog"></button>
            <form class="p-3 flex flex-col space-y-2" id="logIn" hx-post='/log-in' hx-target="#page-content" hx-target-error="#any-errors">
                <label for="usernameLogIn">Username</label>
                <input class="custom-input" type="text" id="usernameLogIn" name="username" />
                <label for="passwordLogIn">Password</label>
                <input class="custom-input" type="password" id="passwordLogIn" name="password" required minlength="8" />
                <input class="primary-button" type="submit">
                <div id="any-errors"></div>
            </form>
        </div>
    </dialog>
    <script src="/dialog.js"></script>
</div>